@import "variables";

@mixin font-setting($f-size, $f-color, $f-type){
    font-size: $f-size;
    color :$f-color;
    font-family: $f-type;
}
@mixin border-setting($b-radius, $b){
    border-radius: $b-radius;
    border : $b;
}
@mixin title($fs, $color, $fw){
    font-size: $fs;
    color: $color;
    font-weight: $fw;
}
#margin{
    margin-top : 50px;
    margin-bottom: 50px;
}
#border-style {
   @include border-setting(11px, 1px solid $grey);
}
#padding{
    padding-left:50px;
}
#tweeter-setting{
    @include font-setting(50px, $pinky, none);
    font-weight: bold;
}

@media screen and (max-width: 600px) {
    #font-style {
        @include font-setting(15px, none, Georgia);
    }
    #welcome{
        @include font-setting(30px, $pinky, Georgia);
    }
    #tweet-font-style {
        @include font-setting(15px, $grey, Georgia);
    }
    #logo-style {
        @include font-setting(25px, $white, Georgia);
    }
    .user-font {
        @include font-setting(20px, $pinky, Nunito);
    }
    .comment-user{
        @include font-setting(15px, $pinky, Nunito);
    }
    #image-size{
        width:25vw;
        opacity: 1;
    }
    #welcome-image {
        width: 80vw;
        opacity: 1;
    }
    .welcome-header{
        @include font-setting(22px, $grey, Nunito);
    }
    .welcome-title{
        @include title(35px, #ad1457, bold);
    }
    .center-color{
        @include font-setting(15px, $red, Georgia);
        padding-left: 31px;
    }
}
@media screen and (min-width: 601px) and (max-width: 992px) {
    #font-style {
        @include font-setting(18px, $grey, Georgia);
    }
    #welcome{
        @include font-setting(35px, $red, Georgia);
    }
    .welcome-header{
        @include font-setting(28px, $grey, Nunito);
    }
    #tweet-font-style {
        @include font-setting(18px, $grey, Georgia);
    }
    #logo-style {
        @include font-setting(40px, $white, Georgia);
    }
    .user-font {
        @include font-setting(25px, $pinky, Nunito);
    }
    .comment-user{
        @include font-setting(18px, $pinky, Nunito);
    }
    #image-size{
        width:15vw;
        opacity: 1;
    }
    #welcome-image {
        width: 80vw;
        opacity: 1;
    }
    .welcome-title{
        @include title(60px, #ad1457, bold);
    }
}
@media screen and (min-width: 993px) and (max-width: 1199px) {
    #font-style {
        @include font-setting(16px, $grey, Georgia);
    }
    #welcome{
        @include font-setting(50px, $green, Georgia);
    }
    .welcome-header{
        @include font-setting(35px, $grey, Nunito);
    }
    #tweet-font-style {
        @include font-setting(20px, $grey, Georgia);
    }
    #logo-style {
        @include font-setting(45px, $white, Georgia);
    }
    .user-font {
        @include font-setting(25px, $pinky, Nunito);
    }
    .comment-user{
        @include font-setting(20px, $pinky, Nunito);
    }
    #image-size{
        width:20vw;
        opacity: 1;
    }
    #welcome-image {
        width: 50vw;
        opacity: 1;
    }
    .welcome-title{
        @include title(50px, #ad1457, bold);
    }
}
@media screen and (min-width: 1200px) {
    #font-style {
        @include font-setting(20px, $grey, Georgia);
    }
    #welcome{
        @include font-setting(60px, $blue, Nunito);
    }
    .welcome-header{
        @include font-setting(40px, $grey, Nunito);
    }
    #tweet-font-style {
        @include font-setting(20px, $grey, Georgia);
    }
    #logo-style {
        @include font-setting(45px, $white, Nunito);
    }
    .user-font {
        @include font-setting(30px, $pinky, Nunito);
    }
    .comment-user{
        @include font-setting(20px, $pinky, Nunito);
    }
    #image-size{
        width:20vw;
        opacity: 1;
    }
    #welcome-image {
        width: 60vw;
        opacity: 1;
    }
    .welcome-title{
        @include title(70px, #ad1457, bold);
    }
    .padding-left-right{
        padding: 0 20px;
    }

}

