@import "variables";

@mixin font-setting($f-size, $f-color, $f-type){
    font-size: $f-size;
    color :$f-color;
    font-family: $f-type;
}
@mixin border-setting($b-radius, $b){
    border-radius: $b-radius;
    border : $b;
}
#margin{
    margin : 40px 0;
}
#border-style {
   @include border-setting(12px, 1px solid $grey);
}
#font-style {
    @include font-setting(17px, $grey, Georgia);
}
#logo-style {
    @include font-setting(25px, $white, Georgia);
}
#submenu-style {
    @include font-setting(18px, $white, Georgia);
}
