* {
  box-sizing: border-box;
}

/* Style the header */

#welcome {
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
  height: 300px;
}

#welcome1 {
  color: #ca5656;
}

nav {
  float: left;
  width: 30%;
  height: 300px;
  background: #fdb7b7;
  padding: 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

section {
  content: "";
  display: table;
  clear: both;
}

article {
  float: left;
  padding: 20px;
  width: 70%;
  background-color: #f1f1f1;
  height: 300px;
}

/* Style the footer */

footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

.username {
  color: blue;
}

@media (max-width: 600px) {
  nav,
  article {
    width: 100%;
    height: auto;
  }
}

