#margin {
  margin-top: 50px;
  margin-bottom: 50px;
}

#border-style {
  border-radius: 12px;
  border: 1px solid #3d3c3c;
}

#padding {
  padding-left: 50px;
}

#tweeter-setting {
  font-size: 50px;
  color: #c2185b;
  font-family: none;
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  #font-style {
    font-size: 15px;
    color: none;
    font-family: Georgia;
  }

  #welcome {
    font-size: 40px;
    color: #c2185b;
    font-family: Georgia;
  }

  #tweet-font-style {
    font-size: 15px;
    color: #3d3c3c;
    font-family: Georgia;
  }

  #logo-style {
    font-size: 30px;
    color: #fdfdfd;
    font-family: Georgia;
  }

  #submenu-style {
    font-size: 15px;
    color: #fdfdfd;
    font-family: Georgia;
  }

  #image-size {
    width: 50vw;
    opacity: 1;
  }
}

@media screen and (min-width: 601px) and (max-width: 1023px) {
  #font-style {
    font-size: 18px;
    color: #3d3c3c;
    font-family: Georgia;
  }

  #welcome {
    font-size: 45px;
    color: #e3342f;
    font-family: Georgia;
  }

  #tweet-font-style {
    font-size: 18px;
    color: #3d3c3c;
    font-family: Georgia;
  }

  #logo-style {
    font-size: 40px;
    color: #fdfdfd;
    font-family: Georgia;
  }

  #submenu-style {
    font-size: 20px;
    color: #fdfdfd;
    font-family: Georgia;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1199px) {
  #font-style {
    font-size: 20px;
    color: #3d3c3c;
    font-family: Georgia;
  }

  #welcome {
    font-size: 55px;
    color: #38c172;
    font-family: Georgia;
  }

  #tweet-font-style {
    font-size: 20px;
    color: #3d3c3c;
    font-family: Georgia;
  }

  #logo-style {
    font-size: 45px;
    color: #fdfdfd;
    font-family: Georgia;
  }

  #submenu-style {
    font-size: 22px;
    color: #fdfdfd;
    font-family: Georgia;
  }
}

@media screen and (min-width: 1200px) {
  #font-style {
    font-size: 20px;
    color: #3d3c3c;
    font-family: Georgia;
  }

  #submenu-style {
    font-size: 25px;
    color: #fdfdfd;
    font-family: Nunito;
  }

  #welcome {
    font-size: 80px;
    color: #3490dc;
    font-family: Nunito;
  }

  #tweet-font-style {
    font-size: 20px;
    color: #3d3c3c;
    font-family: Georgia;
  }

  #logo-style {
    font-size: 45px;
    color: #fdfdfd;
    font-family: Nunito;
  }
}

